/spec/reports
/tmp
/.yardoc
/_yardoc
/doc
/rdoc
/lib/bundler/man

Gemfile.lock
*.gem
*.rbc
.bundle
.config
.ruby-version
.ruby-gemset
.rvmrc
.yardoc
_yardoc
InstalledFiles
coverage
pkg
*.bundle
*.so
*.o
*.a
mkmf.log
